@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    color: white;
}

main {
    display: block;
    background-image: linear-gradient(to bottom, #23272e, #14171c);
    position: absolute;
    width: 418px;
    height: 418px;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}
section {
    padding: 30px;
}

h1{
    padding-top: 20px;
    font-size: 1.7em;
}

p {
    padding: 4px 0px 12px;
}

h1, p, div {
    margin-top: 10px;
}

p, div ,input {
    font-size: 15px;
    color: #7c8798;
    margin-bottom: 15px;
}

input, div.botao {
    background-color: #7c879818;
    border-radius: 50%;
}

div.botao {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 12px;
}

input {
    font-size: 1.19em;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: 0px;
    cursor: pointer;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.219);
    color: white;
}

input#Enviar{
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-size: 1em;
    margin-top: 13px;
    width: 340px;
    height: 50px;
    border-radius: 50px;
}

input#Enviar:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

div > p, div > img {
    transform: translate(0px, 4px);
}

section#resultado {
    display: none;
}

section#resultado {
    text-align: center;
}

section#resultado > img {
    padding: 15px 0px 20px;
}

section#resultado > div {
    width: 170px;
    margin: auto;
    padding: 10px 0px 5px;
    border-radius: 50px;
    color: hsl(25, 97%, 53%);
}